.about {
  height: 850px;

  background-image: url(../images/bg.png);
  background-position: center;
  background-size: cover;
  background-color: $bg-color;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto;

    height: 80%;
    max-width: 1200px;
  }

  &__article {
    position: relative;
    // padding-left: 40px;
    width: 400px;

    &::before {
      content: "";
      position: absolute;
      left: 25px;
      top: 275px;
      width: 10px;
      height: 145px;
      background-image: url(../images/dotted-arrow.svg);
    }
  }

  &__subheading {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: 0;
      width: 135px;
      height: 4px;
      background-color: $main-color-warm;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: 0;
      right: 80px;
      width: 145px;
      height: 4px;
      background-color: $main-color-cold;
    }
  }

  &__paragraph {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    padding-left: 80px;
    width: 380px;
    line-height: 130%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25%;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #fff;
      background-image: url(../images/Ellipse.png);
    }

    &:first-of-type::before {
      content: "2в1";
    }
    &:nth-of-type(2) {
      &::before {
        content: "1";
      }
      &::after {
        content: "";
        position: absolute;
        left: 82px;
        top: 32px;
        width: 85px;
        height: 3px;
        background-color: $main-color-warm;
      }
    }
    &:last-of-type {
      &::before {
        content: "2";
      }
      &::after {
        content: "";
        position: absolute;
        left: 82px;
        top: 32px;
        width: 40px;
        height: 3px;
        background-color: $main-color-cold;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 10% 2%;
    margin: 0 0 10%;
    height: auto;
    background-image: none;
    &__heading {
      font-size: 36px;
    }
    &__subheading {
      color: $main-color-warm;
      &::before,
      &::after {
        display: none;
      }
    }
    &__article {
      width: 90%;
      &::before {
        display: none;
      }
    }
    &__paragraph {
      margin: 0 0 10%;
      width: 90%;
    }
    &__container {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
