@import "utils/vars";
@import "utils/mixins";
@import "utils/extends";

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto 40px;

  text-align: center;
  font-size: 22px;

  &__logo {
    position: absolute;
    top: -20px;
    width: 170px;
    height: 40px;
    text-align: center;
    background-color: #fff;
  }

  &__paragraph {
    width: 100%;
    padding: 40px;
    border: 2px solid $highlight-warm;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 5%;
    &__paragraph {
      padding: 10%;
    }
  }
}
