.graphics {
  margin-top: -350px;

  &__container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
  }

  &__graphic {
    position: relative;

    &::before,
    &::after {
      content: $price-value;
      position: absolute;
      padding: 3px 5px;
      height: 30px;

      text-align: center;
      letter-spacing: 1px;
      line-height: 100%;
      font-size: 30px;
      font-weight: 500;

      color: #fff;
      border-radius: 7px;
    }

    &::before {
      right: 38%;
      top: -15px;
      background-color: $main-color-warm;
    }

    &::after {
      right: 23%;
      top: 30%;
      background-color: $main-color-cold;
    }
  }
}
