$price-value: "299₽";

$text-color-dark: #383334;
$text-color-lighter: #666;

$main-color-warm: #ff6b00;
$main-color-warm-pale: #ec9a6a;
$main-color-warm-intense: #ec5b19;
$main-color-cold: #a8ca3f;

$highlight-warm: #f4d3bb;
$highlight-cold: #becbd8;

